h1 {
    color: darkblue;
  }

table, th, td {
  padding: 5px 3px;
  border: 1px solid grey;
  border-collapse: collapse;
}

.text {
  font-size: 18px;
  line-height: 130%;
}

.source {
  font-size: 12px;
}

.tipp {
  color: black;
  margin-top: 15px;
  font: 12px arial;
  display: none;
}

.extratipp {
  color: black;
  font: 12px courier;
  display: none;
}

.boxed {
  border: solid 1px lightgrey;
  padding: 3px;
}

.boxed2 {
  border: solid 1px black;
  padding: 3px;
}

.tipplink {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-style: italic;
}
  

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; *//* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -90px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: lightblue;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent lightblue transparent;
}